.signUpPage{
    display:block;
    box-sizing:border-box;
    margin:auto;
    width:75%;
    text-align: center;
    background: #bfc0c0;
    margin-top:30px;
}

#login-title{
    color:#212d40;
}
div .form-group{
    padding:5px;
}

label.form-label{
    margin-right:5px;
}
div>input.form-control{
    border-radius: 3px;
    border-style:none;
}

.login{
    text-decoration: none;
    background:#f6ae2d;
    color:#212d40;
    font-size: 15px;
    padding:5px;
    margin:3px;
    border-style:none;
    border-radius: 3px;
    text-align: center;
}