.add-event-container{
        display:block;
        /* box-sizing:border-box; */
        margin:0 auto 20px;
        width:75%;
        text-align: center; 
          
}
.add-event-header{    
    font-size: 25px;
    text-decoration-line: underline;
}
.form-group{
    padding: 5px;
}

.info-text{
    font-weight: normal;
}