.dailyitemTodo{
    color:#212d40; 
}

#todo-title{
    font-size: 25px;
    text-decoration-line: underline;

}

.daily-todo-container{
    display:block;
    /* box-sizing:border-box; */
    margin:auto;
    width:60%;
    text-align: center;
}